body{
    margin: 0px;
    }

nav{
    background-color: #30343F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer{
    background-color: #30343F;
    display: block;
    text-align: center;
    padding: 5px 0; 
}

li{
    list-style-type: none;
}

ul{
    display: flex;
}

footer a:link , footer a:visited , footer a:active ,
nav a:link , nav a:visited , nav a:active 
{
    text-decoration: none;
    color: white;   
}
li article a:link , li article a:visited , li article a:active{
    text-decoration: none;
    color: black;  
}



.link-nav li{
    margin: 15px;
}
.icon-funko {
    width: 300px;
    height: 300px;
}

.icon-cart {
    width: 32px;
    height: 32px;
}

.logo-funko {
    margin-left: 50px;
    width: 280px;
}
.mini-logo-funko{
    height: 50px;
    margin-right: 50px;
}

.cointainer-nuevos-ingresos{
    background-image:url(./img/funkos-banner.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 0px;
}
.nuevos-ingresos{
    margin-left: 80px;
}


.button-shop {
    background-color: white;
    border-radius: 25px;
    padding: 5px 35px 5px 35px;
    text-decoration: none;
}
.main-coleccion {
    display: flex;
    margin: 80px;
    justify-content: space-between;
    color: black;
}
.button-coleccion {
    background-color: #30343F;
    border-radius: 25px;
    padding: 5px 35px 5px 35px;
    color: white;
    text-decoration: none;
      
}
.resumen-article {
    border-bottom: 3px solid #FF3333;
    padding-bottom: 10px;
}

.derechos-reserved {
    color:white;
}
.link-footer {
    display:block;
}
.link-footer li{
    margin: 5px;
}

.cuotas-sin-interes {
    color: #1D84B5;
    font-weight: bold;
}
.button-rojo {
    background-color: #FF3333;
    padding: 5px;
    color: white    ;
    text-decoration: none;
}
.detalle-coleccion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
/*---- Clases de Shop ---- */

.container-shop {
    display: flex;
    margin: 80px;
}
.filtrar-shop {
    display: block;
}

.filtrar-precio{
    display:flex;
}

/*---- Clases de Login ---- */

.form-login {
    display: flex;
    
    justify-content: center;
}

/*---- Clases de Cart ----*/
.icon-funko-mini {
    width: 118px;
    height: 118px;
}
.container-cart {
    display: flex;
    background-color: #FAFAFF;
    border-radius: 25px;
    margin: 25px 80px;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}
.item-cart{
    display: flex;
    justify-content: space-between;
}

.resumen-cart{
    margin: 25px 80px 25px 0px;
    background-color: #FAFAFF;
    border-radius: 25px;
    padding: 50px;
}