<footer class="footer"><!-- INICIO FOOTER -->
    
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item"><a class="navbar__link" href="/shop">SHOP</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/auth/register">REGISTRARSE</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/auth/login">LOGIN</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/contact">CONTACTO</a></li>
        </ul>
        <picture>
            <a  href="/home">
                <img class="mini-logo-funko" src="/img/branding/isotype.svg" alt="">
            </a>
        </picture>
    </nav>
    <P class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</P>
  
</footer><!-- FIN FOOTER -->   