<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Admin | Funkoshop</title>
</head>
<body>
    <%- include('../partials/header2') %>
    <main class="container">
        <section class="admin__search">
            <img class="search_icon" src="../../img/icons/search_icon.svg" alt="">
            <input class="admin__search__input" type="search" name="" id="" placeholder="código, nombre o categoria">
        </section>
        <section  >
            <div class="admin__container">
                <h1 class="admin__list__title">LISTADO DE PRODUCTOS</h1>
                <div class="admin__add">
                    <p class="admin__add__text" >AGREGAR</p>
                    <button class="admin__add__button">+</button>
                </div>

            </div>

            <div class="admin__list__container">
                
                <div class="admin__list__detail admin__list__detail-title ">
                    <p>ID</p>
                    <p>Código</p>
                    <p>Nombre del Producto</p>
                    <p>Categoria</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>1</p>
                    <p>STW001001</p>
                    <p>Baby Yoda Blueball </p>
                    <p>STAR WARS</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>2</p>
                    <p>STW001002</p>
                    <p>Boba Fett Fighter</p>
                    <p>STAR WARS</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>3</p>
                    <p>STW001003</p>
                    <p>Luke Skylwalker & Grogu</p>
                    <p>STAR WARS</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>4</p>
                    <p>STW001004</p>
                    <p>Stormtrooper Lightsaber</p>
                    <p>STAR WARS</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>5</p>
                    <p>PKM001001</p>
                    <p>Charmander Smiley </p>
                    <p>POKEMON</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>6</p>
                    <p>PKM001002</p>
                    <p>Dragonite Hi!</p>
                    <p>POKEMON</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>7</p>
                    <p>PKM001003</p>
                    <p>Pidgeotto Flying</p>
                    <p>POKEMON</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>8</p>
                    <p>PKM001004</p>
                    <p>Pikachu Smiley</p>
                    <p>POKEMON</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>9</p>
                    <p>PKM001005</p>
                    <p>Vulpix Fancy</p>
                    <p>POKEMON</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>10</p>
                    <p>HPT001001</p>
                    <p>Harry Potter & Hegwid</p>
                    <p>HARRY POTTER</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>11</p>
                    <p>HPT001002</p>
                    <p>Herminione Ball Dress</p>
                    <p>HARRY POTTER</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>12</p>
                    <p>HPT001003</p>
                    <p>Luna Lovegood Lion Mask</p>
                    <p>HARRY POTTER</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
                <div class="admin__list__detail admin__list__detail-item">
                    <p>13</p>
                    <p>HPT001004</p>
                    <p>Snape Patronus</p>
                    <p>HARRY POTTER</p>
                    <img class="edit_pencil" src="../../img/icons/edit_pencil.svg" alt="">
                    <img class="delete_trash" src="../../img/icons/delete_trash.svg" alt="">
                </div>
            

            </div>
        </section>

        
    </main>
    <%- include('../partials/footer') %>   
</body>
</html>