<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Create | Funkoshop</title>
</head>
<body>
    <%- include('../partials/header2') %>
    <main class="container">
        <form class="create__form" action="">
            <h1 class="create__form__title">CREAR NUEVO ITEM</h1>
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">Categoria:</label>
                <select class="create__form__select" name="" id=""></select>
                <label class="create__form__sub-title" for="">Licencia:</label>
                <select class="create__form__select" name="" id=""></select>
            </div>
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">Nombre del producto:</label>
                <input class="create__form__input" type="text" name="" id="" placeholder="nombre del producto">
            </div>
            <div>
                <textarea class="create__form__textarea" placeholder="Descripción del producto"></textarea>
            </div>
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">SKU:</label>
                <input class="create__form__input" type="text" name="" id="" placeholder="codigo SKU">
                <label class="create__form__sub-title" for="">Precio:</label>
                <input class="create__form__input" type="text" name="" id="" placeholder="Precio del Porducto">
                <label class="create__form__sub-title" for="">Stock:</label>
                <input class="create__form__input" type="number" min="1">
            </div>
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">Descuento:</label>
                <input class="create__form__input" type="number" min="0" max="100" placeholder="0%">
                <label class="create__form__sub-title" for="">Cuotas:</label>
                <select class="create__form__select" name="" id="" aria-placeholder="3 Cuotas sin interés"></select>
            </div>
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">Imágenes:</label>
                <input class="create__form__select-img" name="Elegir archivos" type="file">
            </div>
            <div class="create__form__button-container">
                <button class="create__form__button" type="submit"> Agregar Producto </button>
                <button class="create__form__button"type="reset">Limpiar</button>
            </div>
            

        </form>
    </main>
    <%- include('../partials/footer') %>   
</body>
</html>