<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <title> About | Funkoshop</title>
</head>
<body>
   <%- include('../partials/header') %>
    <main  class="container" >
    <section class="faqs__container">

        <h1 class="contact__title">Acerca de Nosotros - Tienda de Funko</h1>

        <p>Bienvenido a nuestra tienda de Funko, el lugar perfecto para todos los amantes de las figuras coleccionables y la cultura pop.</p>
    
        <p>Nuestra pasión por los Funko Pop! nos llevó a abrir esta tienda con el objetivo de ofrecer la más amplia variedad de figuras Funko para coleccionistas de todas las edades. Nos enorgullece ser un destino para encontrar tus personajes favoritos y ediciones exclusivas.</p>
    
        <p>En nuestra tienda, no solo nos dedicamos a vender productos, sino que también nos esforzamos por crear una experiencia única para nuestros clientes. Cada figura cuenta una historia, y queremos que encuentres la figura que te haga sonreír y recuerde momentos especiales.</p>
    
        <p>Nuestro compromiso va más allá de ofrecer productos de alta calidad; también nos esforzamos por brindar un excelente servicio al cliente. Siempre estamos aquí para ayudarte a encontrar esa figura especial, responder tus preguntas o asistirte en cualquier consulta que puedas tener.</p>
    
        <p>¡Gracias por ser parte de nuestra comunidad de coleccionistas! Explora nuestra selección y encuentra ese Funko Pop! que hará brillar tu colección.</p>
    
        <p>¡Colecciona, sonríe y sé parte de la magia Funko!</p>
    
</section>    
    
    </main>
   <%- include('../partials/footer') %>
   
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>     
</body>
</html>