<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <title> Faqs | Funkoshop</title>
</head>
<body>
   <%- include('../partials/header') %>
    <main  class="container" >
    <section class="faqs__container">

        <h1 class="contact__title">Preguntas Frecuentes - Tienda de Funko</h1>
        
            
        <h2>1. ¿Qué son los Funko Pop! y por qué son tan populares?</h2>
        <p>Los Funko Pop! son figuras coleccionables.</p>
            
        <h2>2. ¿Cuántos tipos de Funko Pop! tienen en la tienda?</h2>
        <p>En nuestra tienda, ofrecemos una amplia variedad de Funko</p>
        
        <h2>3. ¿Reciben nuevos lanzamientos de Funko Pop! con regularidad?</h2>
        <p>Sí, recibimos nuevos lanzamientos de Funko Pop! con frecuencia.</p>
        
        <h2>4. ¿Hay ediciones exclusivas o limitadas disponibles en la tienda?</h2>
        <p>Sí, contamos con ediciones exclusivas y limitadas.</p>
                 
        <h2>5. ¿Tienen programas de membresía o de lealtad?</h2>
        <p>No, contamos con un programa de membresía.</p>
                    
        <h2>6. ¿Ofrecen descuentos o promociones especiales?</h2>
        <p>Sí, ofrecemos descuentos y promociones especiales.</p>
        
        <h2>7. ¿Cómo puedo seguir las novedades de la tienda?</h2>
        <p>Puedes mantenerte al tanto de las novedades siguiéndonos en nuestras redes sociales.</p>
        
        <h2>8. ¿Aceptan pedidos en línea?</h2>
        <p>Sí, aceptamos pedidos en línea a través de nuestro sitio web.</p>
        
        <h2>9. ¿Puedo solicitar un Funko Pop! específico si no está en la tienda?</h2>
        <p>No, solo vendemos los Funkos publicados.</p>
    
</section>    
    
    </main>
   <%- include('../partials/footer') %>
   
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>     
</body>
</html>