<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Registrarse | Funkoshop</title>
</head>
<body>
    <%- include('../partials/header2') %>
    <main  class="login__container container" >
        <form class="login__form" action="">
            <h1 class="login__title">CREA TU CUENTA</h1>
            <h3 class="login__message">Completa el formulario para ser parte del mundo de los Funkos</h3>
            <div>
                <div class="login__container__input">
                    <label class="login__sub-title" for="text">Nombre:</label>
                    <input  class="login__input" type="text" name="" id="" placeholder="Ingresa tu Nombre">
                </div>
                <div class="login__container__input">
                    <label class="login__sub-title" for="text">Apellido:</label>
                    <input  class="login__input" type="text" name="" id="" placeholder="Ingresa tu Apellido">
                </div>
                <div class="login__container__input">
                    <label class="login__sub-title" for="email">Email:</label>
                    <input  class="login__input" type="email" name="" id="" placeholder="tumail@mail.com">
                </div>
                <div class="login__container__input">
                    <label class="login__sub-title" for="password">Contraseña:</label>
                    <input class="login__input" type="password" placeholder="password">
                </div> 
                <div class="login__container__input">
                    <label class="login__sub-title" for="password">Repita Contraseña:</label>
                    <input class="login__input" type="password" placeholder="password">
                </div>                        
            </div>    
            <div>
                <div class="login__container_options">
                    <a class="login__ingresar" href="">Ingresar</a>
                    <input type="checkbox" name="" id="">
                    <label class="login__recordar" for="">Acepto </label>
                    <a class="login__recuperar-contraseña" href="">Términos y Condiciones</a>
                </div>
                
            </div>                   
        </form>
    </main>
    <%- include('../partials/footer')%>  
</body>
</html>